.header{
    position: absolute;
    width: 1440px;
    height: 60px;
    background: #00A35E;
    .display(row, 0px);
    .headerTitle{
        position: relative;
        width: 150px;
        height: 19px;
        left: 30px;
        top: 21px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FAFAFA;
    }
    
}