.main{
    width: 1440px;
    height: 548px;
    background: linear-gradient(38.54deg, #FFFFFF 21.78%, #D1D1D1 113.31%);
    .display(row, 0);
    img{
        width: 509px;
        height: 424px;
        left: 78px;
        top: 120px;
    }
    .mainTitle{
        .display(column, 0);
        h1{
        
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 35px;
            align-self: flex-start; 
            /* Malachite */

            color: #00A35E;
        }
        p{
            width: 570px;
            height: 58px;
            left: 618px;
            top: 259px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 162.19%;
            /* or 29px */

            letter-spacing: 0.01em;

            /* Emperor */

            color: #555555;
        }
        .btn{

            background: #FFFFFF;
            /* Malachite */
            
            border: 1px solid #00A35E;
            box-sizing: border-box;
            border-radius: 5px;
            width: 25%;
            color: #00A35E;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            align-self: flex-start;
            padding: 5px;
            
        }
    }
    
}
.icons{
    .display(row, 5%);
    width: 1440px;
    justify-content: space-around;
    div{
        .display(column, 0);
        flex-basis: 30%;
        i{
            width: 40px;
            height: 40px;
            color:  #00A35E;
            font-size: 40px;
            margin-left: -11px;
            margin-bottom: 50px;  
        }
        h2{
            width: 394px;
            height: 28px;
            left: 48px;
            top: 792px;
            margin-bottom: 10px;

            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
        }
        p{
            width: 394px;
            height: 42px;
            left: 48px;
            top: 836px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 21px;

            /* Emperor */

            color: #555555;
        }
    }
}
.bottomSection{
    .display(row, 0);
}